@media only screen and (max-width:768px){
    .charts{
        opacity: 0;
    }
    .inventory-table .table{
        font-size: small;
        padding: 4px;
        margin-left: 28px;
    }
    .inventory-table h2{
        font-size: medium;
    }
}

.inventory-table {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.inventory-table .charts {
    display: flex;
    flex-direction: column;
}

.paginate {
    width: 100%;
    margin: 14px auto;
}

.inventory-table table {
    border-collapse: collapse;
    color: white;
    margin: 24px auto;
}

.inventory-table thead {
    font-size: 14px;
    font-weight: 600;
}

td,
th {
    border: 1px solid #eee;
    padding: 8px;
    text-align: center;
}

.table h3{
    color: #eee;
}
